.wrap{
    overflow-y: scroll;
    height: 57vh;
    border: 1px solid rgb(223, 215, 215);
    margin-top: 10px;
    margin-bottom: 20px;
}

.title{
    color: red;
}
.sumMoney{

}

.add{
    width: 70px;
    justify-items: center;
}

.sub{
    width: 70px;
    justify-items: center;
}